* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background-color: #ebebeb;
}
header {
	background-color: #fff159;
	padding: 20px;
	margin-bottom: 40px;
}
section {
	background-color: #ffffff;
	width: 1005;
	max-width: 700px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px;
	margin: 0 auto;
	border-radius: 5px;
	margin-bottom: 20px;
}
.inputGroup {
	display: flex;
	align-items: center;
}
.inputGroup input {
	text-align: right;
	margin-left: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
	transition: all ease-in-out 0.2s;
}
#valorCalculado {
	transition: all ease-in-out 0.3s;
}
.inputGroup input:focus {
	background-color: #f8f19f;
}
@media (max-width: 700px) {
	.inputGroup,
	#valorCalculado div {
		width: 100%;
		justify-content: space-between;
		margin-bottom: 20px;
	}
	.inputGroup:first-child,
	#valorCalculado div:first-child {
		padding-bottom: 20px;
		border-bottom: 1px solid #ccc;
	}
	#valorCalculado {
		flex-direction: column;
		text-align: center;
	}
}
